

// Variables de fuentes
$fuente-navegacion: "Montserrat", sans-serif;
$fuente-titulos: "Playfair Display", serif;

//variables colores
$color-principal: #1F3D3A; // Verde profundo - Identidad de la pagina
$color-fondo: #F4EFE6; // Crema antiguo - fondos generales
$color-acento: #C97852; // Terracota - Botones, detalles, elementos que llaman la atención
$color-destacado: #B59A5A; // Oro envejecido - detalles secundarios.
$color-acento-hover: #b86545; //Terracota un poco oscuro

$color-blanco: #ffffff;
$color-negro: #000000;