/* paleta */

/* 
#1F3D3A   Verde profundo rgb(31, 61, 58)
#F4EFE6   Crema antiguo rgb(244, 239, 230)
#C97852   Terracota rgb(201, 120, 82)
#B59A5A   Oro envejecido rgb(181, 154, 90)
*/

:root{
    --verde-profundo: #1F3D3A;
    --crema-antiguo: #F4EFE6;
    --terracota: #C97852;
    --oro-envejecido: #B59A5A;
}

/* familia tipográfica */
/* font-family: "Playfair Display", serif; */
/* font-family: "Montserrat", sans-serif; */

/* Playfair Display → títulos y elementos que queremos destacar.
Montserrat → texto normal, navegación y artículos */


/* ============================================================
    RESET Y BASE
============================================================ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--crema-antiguo);
    color: var(--verde-profundo)
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

/* estilos del contenedor. wrapper que centra el contenido y le da un ancho máximo. */
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

/* ============================================================
    TIPOGRAFÍA — encabezados globales (h1, h2, h3)
============================================================ */

h1, h2, h3{
    font-family: "Playfair Display", serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--terracota);
}

h2{
    font-size: 2rem;
    font-weight: 600;
    color: var(--verde-profundo);
}

h3{
    font-size: 1.2rem;
    color: var(--terracota);
}

/* ============================================================
    HEADER Y NAV
============================================================ */

header, footer{
    color: var(--crema-antiguo);
    background-color: var(--verde-profundo);
}

.nav {
    padding: 15px 0;
    display: flex;
    flex-direction: column; /* flex-direction: column hace que el menu quede vertical */
    justify-content: space-between; /* justify-content hace que  |LOGO    MENU|   queden separados */
    align-items: center; /* los centra verticalmente */
}

.logo img {
    width: 100px;
    height: auto;
}

.nav-list {
    display: flex; /* display: flex deja el menu horizontal */
    flex-direction: column;
    align-items: center;
}

.nav-link {
    color: var(--crema-antiguo);
    font-size: 0.9rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--oro-envejecido); /* efecto cuando pasás el mouse al color oro envejecido */
}

/* ============================================================
    MAIN — reglas generales de espaciado
============================================================ */

main{
    padding:10px;
}

main h2, main h3, main p{
    margin-bottom: 15px;
}

main h2{
    margin-bottom: 20px;
}

main section {
    margin-bottom: 60px;
}

/*=============================================================
    HERO - edición de headers
==============================================================*/

.hero {
    background-size: cover;
    background-position: center;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.hero-texto {
    background-color: rgba(31, 61, 58, 0.55);
    padding: 15px 25px;
}

.hero-texto h1,
.hero-texto p {
    color: var(--crema-antiguo);
}

/* imagenes de los fondos de cada pagina */
.hero-servicios { background-image: url("../img/viajero-aeropuerto.jpg"); }
.hero-inicio    { background-image: url("../img/paisaje-montanoso.jpg"); }
.hero-sobre-mi  { background-image: url("../img/explorador.jpg"); }
.hero-contacto  { background-image: url("../img/contact-us.jpg"); }
.hero-proyectos  { background-image: url(../img/destinos.jpg); }


/* ============================================================
    SECCIÓN "INICIO" - index.html
============================================================ */

.tarjetas{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-areas: 
    "principal"
    "historia" 
    "religion"
    "cultura" 
    "vestigios";
}

.principal { grid-area: principal; }
.historia  { grid-area: historia;  }
.religion  { grid-area: religion;  }
.cultura   { grid-area: cultura;   }
.vestigios { grid-area: vestigios; }

/* ============================================================
    SECCIÓN "SOBRE VESTIGIA / SOBRE NOSOTROS" — sobre-mi.html
============================================================ */

.sobre-vestigia {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.subtitulo {
    font-family: "Playfair Display", serif;
    font-style: italic;
    color: var(--terracota);
}

.encabezado-vestigia {
    display: flex;
    grid-column: 1 / -1;  /* hace que el texto se muestre en la columna 1 y llegue hasta la otra columna (-1) */
    align-items: baseline;
    gap: 15px;
    font-weight: bold;
}
.sobre-nosotros {
    display:grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

/* ============================================================
    SECCIÓN "Experiencias / Destinos" — servicios.html
============================================================ */

.experiencias{
    display:grid;
    grid-template-columns: 1fr;
    gap: 10px
}

.experiencias article img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 15px;
}

.experiencias article h3 {
    margin-bottom: 10px;
}

/* ============================================================
    TARJETAS GENÉRICAS (fondo blanco con borde superior)
============================================================ */

.tarjetas article{
    padding: 20px;
    background-color: #FFFFFF;
    border-top: 3px solid var(--terracota);
}

.sobre-vestigia article{
    padding: 20px;
    background-color: #FFFFFF;
    border-top: 3px solid var(--terracota);
}

.sobre-nosotros article{
    padding: 20px;
    background-color: #FFFFFF;
    border-top: 3px solid var(--terracota);
}

.experiencias article{
    padding: 20px;
    background-color: #FFFFFF;
    border-top: 3px solid var(--terracota);
}

/* .tarjeta-proyectos → <p class="tarjeta-proyectos"> bajada de proyectos.html */
.tarjeta-proyectos{
    font-weight: bold;
    font-size: 1.5rem;
}

/* .vestigio-oculto → texto destacado tipo "dato curioso" en proyectos.html */
.vestigio-oculto{
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

/* ============================================================
    FOOTER — igual en todas las páginas
============================================================ */

footer{
    padding: 40px 0;
}

footer ul{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

footer p{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

footer img{
    width: 32px;
    height: auto;
}

footer iframe{
    display: block;
    width: 100%;
    max-width: 600px;
    height: 250px;
    border: 0;
    margin: 20px auto 0;
}

/* ============================================================
    IMÁGENES DEL MAIN
============================================================ */

main img {  
/* modifique el tamaño de imágenes ya que las creadas por IA eran gigantes y hacia la navegación muy molesta */
    max-width: 600px;
    width: 100%;
    height: auto;
}

/* ============================================================
    RESPONSIVE — desktop (min-width: 1024px) 
============================================================ */

@media (min-width: 1024px) {

   /* --- Header y nav: pasa de columna a fila --- */
    .nav {
        flex-direction: row; /* flex-direction: row hace que el menu quede horizontal */
    }
    .nav-list {
        flex-direction: row;
        gap: 30px;
    }

    /*--- Main: más padding en pantallas grandes --- */  
    main{
    padding:60px;
    }
    /* limitar la altura a 320px */
    .hero {
        height: 320px;
    }

    /* Tarjetas "Descubrí" (Index.html): arma el grid con áreas */
    .tarjetas{
        grid-template-columns: 2fr repeat(2, 1fr);
        grid-template-areas:
        "principal historia religion"
        "principal cultura vestigios";
    } 

    /* Sobre VESTIGIA (sobre-mi.html): 2 columnas para los .info-vestigia */
    .sobre-vestigia{
        grid-template-columns: repeat(2, 1fr);
    }

    /* Sobre nosotros (Sobre-mi.html) */
    .sobre-nosotros{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        grid-template-areas:
        "subtitulo-nosotros subtitulo-nosotros"
        "img-nosotros nuestra-mirada" 
        "img-nosotros nuestra-filosofia";
    }
    .sobre-nosotros h2 { grid-area: subtitulo-nosotros;}
    .img-nosotros      { grid-area: img-nosotros;      }
    .nuestra-mirada    { grid-area: nuestra-mirada;    }
    .nuestra-filosofia { grid-area: nuestra-filosofia; }

    /* Servicios (servicios.html) */
    .experiencias {
        grid-template-columns: repeat(2, 1fr);
    }

    /* --- Footer: más separación entre íconos sociales --- */
    footer ul{
        gap: 50px;
    }
}
