/* paleta */

/* 
#1F3D3A   Verde profundo rgb(31, 61, 58)
#F4EFE6   Crema antiguo rgb(244, 239, 230)
#C97852   Terracota rgb(201, 120, 82)
#B59A5A   Oro envejecido rgb(181, 154, 90)
*/

:root{
    --verde-profundo: #1F3D3A;
    --crema-antiguo: #F4EFE6;
    --terracota: #C97852;
    --oro-envejecido: #B59A5A;
}

/* familia tipográfica */
/* font-family: "Playfair Display", serif; */
/* font-family: "Montserrat", sans-serif; */

/* Playfair Display → títulos y elementos que queremos destacar.
Montserrat → texto normal, navegación y artículos */

/* estilos generales */

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

/* font family y color encabezados */
h1, h2{
    font-family: "Playfair Display", serif;
    color: var(--terracota)
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 2rem;
    font-weight: 600;
}

/* estilos header y footer */

header, footer{
    color: var(--crema-antiguo);
    background-color: var(--verde-profundo)
}


.nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between; /* justify-content hace que  LOGO    MENU   queden separados */
    align-items: center; /* los centra verticalmente */
}

.logo img {
    width: 100px;
    height: auto;
}


.nav-list {
    display: flex; /* display: flex deja el menu horizontal */
    gap: 30px;
    align-items: center;
}

.nav-link {
    color: var(--crema-antiguo);

    font-size: 0.9rem;
    font-weight: 500;

    text-decoration: none;

    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--oro-envejecido); /* efecto cuando pasás el mouse al color oro envejecido */
}

/* 1 rem = 16px */
header a{
    font-size: 1.7rem;
}

/* main */

main{
    color: var(--verde-profundo);
    background-color: var(--crema-antiguo);
}

.tarjeta-proyectos{
    font-weight: bold;
    font-size: 1.5rem;
}

.vestigio-title {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}


/* Footer */
footer p{
    font-size: 1.3rem;
    font-weight: bold;
}

/* imagenes */

main img {
    max-width: 600px;
    width: 100%;
    height: auto;
}

/* modifique el tamaño de imágenes ya que las creadas por IA eran gigantes y hacia la navegación muy molesta */